div{
    width: 200px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid greenyellow;
    background-color: yellow;
    cursor: pointer;
}

section{
    display: flex;
    justify-content:space-around
}
#cuadros:active{
    background-color: blue;
}

